.page-padding {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.container-large {
    width: 100%;
    max-width: 70rem;
    margin-right: auto;
    margin-left: auto;
}

.padding-vertical {
    padding-right: 0;
    padding-left: 0;
}

.c-message {
    grid-row-gap: 0;
}
.c-message {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}
.body {
    font-size: 18px;
    line-height: 25px;
}
body {
    font-family: Poppins,sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 20px;
}
body {
    margin: 0;
    margin-top: 5vh;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.calling{
    align-self: center;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calling-a{
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f90202;
    box-shadow: 1px 1px 3px 0 #000;
    color: #fff;
    font-size: 29px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    
}

@media (max-width: 1024px){
    .c-message{
        display: flex;
        -ms-flex-align: center;
        flex-direction: column;
        font-size: 24px;
        padding: 2px;
    }
    .message-image{
        max-width: 100%;
    }
    .body{
        line-height: 60px;
    }

    .margin-bottom{
        line-height: normal;
    }
    
}